
.title-container {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
  margin-top: -80px;
}

h1 {
  font-weight: bold;
  padding: 0 0 2rem
}

.title-background {
  width: 100%;
  z-index: -1;
}

.news-content {
  padding: 5rem;
}

.news-content > p{
  font-size: 23px;
  margin-bottom: 2.5rem;
}
