.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.footer-heading {
  margin-bottom: 24px;
  font-size: 22px;
}

.website-rights {
  margin-top: 5rem;
}